<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Me</title>
    <link href="/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/indexS.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <style>
    body{
        font-family: 'Roboto', sans-serif;
    }
    </style>
</head>

<body>

    <nav class="top-bar " data-topbar>
        <!-- Left Naviagation Section -->
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="/">Blog <strong>Me</strong>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">
                    <span>Menu</span>
                </a>
            </li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li>
                    <a href="/signup">Sign Up</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>

            </ul>
        </section>
    </nav>

    <div class="hero">

        <div class="centerV">
            <h1>Write, Share, Connect!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>


    </div>
	<div class="row major">
        
      </div>
      <div class="row">
      <div class="large-7 medium-7 small-12 columns">
        <div class="panel">
          <h3>Blog Me is a place where writing is easy and writers can connect using a laptop</h3>
          <p><a href="/signup" class="button">SIGN UP</a></p>
        </div>
      </div>
      <div class="large-4 medium-5 small-12 columns">
        <div class="formSignIN panel">
          <form action="/user/login" method="POST">
            <label for="username">Email</label>
            <input type="email" name="email">
            <br>
            <label for="username">Password</label>
            <input type="password" name="password">
            <br>
            <center><input type="submit" value="LOG IN" class="button"></center>
          </form>
          <div class="error">
            {{error}}
          </div>
        </div>
      </div>
      </div>

	<script src="/js/vendor/jquery.js"></script>
  	<script src="/js/foundation.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script>
    	$(document).foundation();
    </script>
</body>

</html>
